.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form {
  background-image: linear-gradient(to bottom right, #964bab, #dc8ff2);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-right: 30px;
  padding-left: 30px;
  min-width: 300px;
  height: 100px;
}

.container {
  display: inherit;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  flex-direction: column;
  column-gap: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: underline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container form input {
  width: 100%;
  padding: 10px;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--card-border-rgb), 0.3);
  border-radius: var(--border-radius);
  min-width: 100px;
}

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

button.submitButton {
  width: 100px;
  height: 30px;
  border-width: 0px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  background-color: darkmagenta;
  color: white;
}

button.submitButton:hover {
  background-color: #5f4a8c;
}

.descriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.coder {
  width: 30%;
  height: auto;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  margin-top: 10px;
}

.shortUrl {
  margin: 20px;
}

.shortUrlContainer {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: flex-end;
}

.icon {
  align-self: center;
}

.copyIconContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #2d3469;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 1rem;
}

.tooltipText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #2d3469 transparent;
}

.copyIconContainer:hover .tooltipText {
  visibility: visible;
  cursor: pointer;
}

.copyIconContainer:hover {
  cursor: pointer;
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 1rem;
  color: red;
}

.qrCodeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 1rem;
}

.scanQrCode {
  margin-bottom: 20px;
}

.shortDes {
  font-size: 1rem;
  color: lightslategray;
  margin-top: 15px;
}

.navUl {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
}

.navItem {
  list-style-type: none;
}

.github {
  width: 30px;
  height: auto;
  margin-left: 10px;
}

.ziplink {
  color: gainsboro;
  font-size: 25px;
}

.urlContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: antiquewhite;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font: 1rem;
  background-color: lightgray;
}

.longUrl {
  width: 40%;
  text-overflow: elipsis;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.heading {
  font-size: 2rem;
}

/* Mobile */
@media (max-width: 700px) {
  .tooltipText {
    font-size: 0.7rem;
  }

  .error {
    font-size: 0.7rem;
  }

  .qrCodeContainer {
    font-size: 1rem;
  }

  .form {
    flex-direction: column;
    row-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .shortDes {
    font-size: 0.8rem;
  }

  .descriptionContainer {
    flex-wrap: wrap-reverse;
  }

  .urlContainer {
    flex-direction: column;
  }

  .longUrl {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .shortUrlContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 470px) {
  .descriptionContainer {
    justify-content: flex-start;
  }

  .coder {
    min-width: 172px;
  }
}

@media (max-width: 900px) {
  .form {
    margin-top: 30px;
  }
}