.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* min-height: 100vh; */
}

.form {
  background-image: linear-gradient(to bottom right, #964bab, #dc8ff2);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-right: 30px;
  padding-left: 30px;
  min-width: 300px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.container {
  display: inherit;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  flex-direction: column;
  column-gap: 10px;
  padding-left: 6rem;
  padding-right: 6rem;
}

.container a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: underline;
}

.container form input {
  width: 100%;
  padding: 10px;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--card-border-rgb), 0.3);
  border-radius: var(--border-radius);
  min-width: 100px;
}

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

button.submitButton {
  width: 100px;
  height: 30px;
  border-width: 0px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  background-color: darkmagenta;
  color: white;
}

/* .container form button:hover {
  background-color: #b6b8cb;
  color: black;
} */

.descriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.coder {
  width: 30%;
  height: auto;
}

.shortUrlContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 1.5rem;
}

.shortUrl {
  font-size: 1.7rem;
  margin: 20px;
}

.innerContainer {
  display: flex;
  flex-direction: row;
}

.icon {
  align-self: center;
}

.copyIconContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #2d3469;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 1rem;
}

.tooltipText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #2d3469 transparent;
}

.copyIconContainer:hover .tooltipText {
  visibility: visible;
  cursor: pointer;
}

.copyIconContainer:hover {
  cursor: pointer;
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 1rem;
  color: red;
}

.qrCodeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 1.5rem;
}

.scanQrCode {
  margin-bottom: 20px;
}

.shortDes {
  font-size: 1rem;
  color: lightslategray;
  margin-top: 15px;
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    font-size: 1rem;
  }

  .shortUrl,
  .shortUrlContainer {
    font-size: 1rem;
  }

  /* .heading{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .heading {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  } */

  .tooltipText {
    font-size: 0.7rem;
  }

  .error {
    font-size: 0.7rem;
  }

  .qrCodeContainer {
    font-size: 1rem;
  }

  .form {
    flex-direction: column;
    row-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .shortDes {
    font-size: 0.8rem;
  }

  .descriptionContainer {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 470px) {
  .descriptionContainer {
    justify-content: flex-start;
  }

  .coder {
    min-width: 172px;
  }
}

@media (max-width: 700px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}