.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: inherit;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  flex-direction: column;
  column-gap: 10px;
}

.container a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: underline;
}

.container form {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container form input {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--card-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.container form button {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  background-color: #2d3469;
  color: white;
  border-width: 0px;
  border-radius: 5px;
}

.container form button:hover {
  background-color: #b6b8cb;
  color: black;
}


.shortUrlContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 1.5rem;
}

.shortUrl {
  font-size: 1.7rem;
  margin: 20px;
}

.innerContainer {
  display: flex;
  flex-direction: row;
}

.copyIcon {
  align-self: center;
}

.copyIconContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #2d3469;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 1rem;
}

.tooltipText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #2d3469 transparent;
}

.copyIconContainer:hover .tooltipText {
  visibility: visible;
  cursor: pointer;
}

.copyIconContainer:hover {
  cursor: pointer;
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    font-size: 1rem;
  }

  .shortUrl,
  .shortUrlContainer {
    font-size: 1rem;
  }

  .heading{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .heading {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .tooltipText {
    font-size: 0.7rem;
  }
}